@charset "utf-8";
body {background-image: url("../images/wallpaper-patter.jpg");}

.myheader {background-color:#83D3CE;
			font-size:20px;
			align-content: center}

.my-content {background-color: #0688A5}

.my-welcome {font-size: 25px;
			text-align: center;
			background-color: #0688A5}

.my-introduction {text-align: center}

.my-heading {font-size: 25px;}

.my-second-content  {background-color: #D8FFFF}

.my-images {padding-left: 30px;}

.myfooter {background-color:#7CD1CA;}

.my-menuheader {text-align: center;
		background-color: #E9FCFE}

.my-menucontent {background-color: #E9FCFE}
